<img src="http://www.placehold.it/200x200">

<h1>Burgers, Burgers, Burgers!</h1>

<form>
    <div class="form-group">
        <input type="textarea" id="burgerName" name="name">
        <button type="submit">Submit</button>
        <p>Enter a burger you want to eat and click the "Submit" button.</p>
    </div>
</form>