<!-- Title -->
<div class="row">
    <div class="col s12 center-align">
        <img class="responsive-img" src="assets/images/logo.png" alt="bobs-burgers">
    </div>
</div>
<!-- Cards -->
<div class="row">
    <!-- Add A Burger -->
    <div class="col s12 m4">
        <div class="card">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Add A Burger</h4></li>
                <li class="collection-item">
                    <form>
                        <div class="input-field">
                            <input id="burger-name" type="text">
                            <label for="burger-name">Burger Name</label>
                        </div>
                        <div class="right-align"><a id="add-btn" class="waves-effect waves-light btn-small orange">Submit</a></div>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <!-- On The Menu -->
    <div class="col s12 m4">
        <div class="card">
            <ul class="collection with-header">
                <li class="collection-header"><h4>On The Menu</h4></li>
                <li class="collection-item">
                    <div>Poblano Picasso Burger</div>
                    <div class="right-align"><a id="order-btn" class="waves-effect waves-light btn-small">Order</a></div>
                </li>
                <li class="collection-item">
                    <div>Sweet Home Avocado Burger</div>
                    <div class="right-align"><a id="order-btn" class="waves-effect waves-light btn-small">Order</a></div>
                </li>
                <li class="collection-item">
                    <div>Say It Ain't Cilantro Burger</div>
                    <div class="right-align"><a id="order-btn" class="waves-effect waves-light btn-small">Order</a></div>
                </li>
                <li class="collection-item">
                    <div>I Heartichoke You Burger</div>
                    <div class="right-align"><a id="order-btn" class="waves-effect waves-light btn-small">Order</a></div>
                </li>
            </ul>
        </div>
    </div>
    <!-- Your Order -->
    <div class="col s12 m4">
        <div class="card">
            <ul class="collection with-header">
                <li class="collection-header"><h4>Your Order</h4></li>
                <li class="collection-item">Poblano Picasso Burger</li>
                <li class="collection-item">Sweet Home Avocado Burger</li>
                <li class="collection-item">Say It Ain't Cilantro Burger</li>
                <li class="collection-item">I Heartichoke You Burger</li>
            </ul>
        </div>
    </div>
</div>